* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    background-color: lightblue;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    width: 200px;
    height: 200px;
    background-color: red;
}